




.grey-colored-text {
    color: #7B7B7B;
}

.inner-link {
    color: #4EA0FF;
    text-decoration: none;
}

.highlighted {
    background-color: yellow;
}










#main-header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

#logo {
    height: 60px;
}



.main-table-thead {
    text-align: left;
    background-color: #4EA0FF;
    color: white;
}

.blue-table-row {
    background-color: #B1E5F2;
}

#collapsed-table {
    border-collapse: collapse;
}

.width-25-cell {
    width: 25%;
}

.width-50-cell {
    width: 50%;
}